@import "tailwindcss";
@import url("https://fonts.cdnfonts.com/css/aero");

@font-face {
  font-family: "OldSansBlack";
  src: url("./assets/OldSansBlack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html,
  body {
    @apply bg-[#212529] min-h-screen;
  }

  h1 {
    font-family: "Aero";
    color: #fff;
    font-size: 25px;
  }

  h2 {
    font-family: "OldSansBlack";
    font-size: 20px;
    color: #fff;
    font-weight: 500;
  }

  p {
    font-family: "OldSansBlack";
    font-size: 20px;
    color: #fff;
  }

  span {
    font-family: "Aero";
  }

  section p {
    margin-bottom: 1rem;
    color: #c7c5c5;
  }

  figcaption {
    font-family: "Aero";
    color: #fff;
    margin-top: 5px;
  }

  button {
    font-family: "OldSansBlack";
    color: #fff;
  }
}

@theme {
  --color-cardgray: #495057;
  --color-bargray: #42484e;
}
